<% layout('../layouts/boilerplate') %>

    <div class="container mt-4">
        <%- include('./sections/new-york') %>
            <%- include('./sections/paris') %>
                <%- include('./sections/tokyo') %>
                    <%- include('./sections/london') %>
                        <%- include('./sections/venice') %>
    </div>